.app_table{
    position: absolute;
    margin-top: 6rem;
    height: 100%;
    width: 100%;
    padding: 0 2rem 0 2rem;
}

.searchBar {
    width: 15rem;
    border: 3px solid #DCCA87;
    padding: 5px;
    height: 2rem;
    border-radius: 5px;
    outline: none;
    color: #000000;
    margin-bottom: 2rem;
  }

.table_row {
    margin-bottom: 1rem;
    display: flex;
    max-width: 100%;
}

.table_img { 
    width: 30%;
}

.table_content { 
    padding-left: 1rem; 
    display: flex; 
    flex-direction: column;
    width: 70%;
}

@media screen and (max-width: 600px) {
    .table_row {
        flex-direction: column;
    }
    .table_img {
        width: 100%;
    }
    .table_content {
        padding-left: 0rem; 
        width: 100%;
    }
}

/* .app_table_body{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  } */
  


